body{
  color: #40514E;
  background-color: #fff;
  margin: 0;
  text-align: center;
  font-size: 1em;
  font-weight: 500;
  line-height: 2;
  font-family: 'Merriweather', serif;
}
.col-xs-1, .col-xs-2, .col-xs-3, .col-xs-4, .col-xs-5, .col-xs-6, .col-xs-7, .col-xs-8, .col-xs-9, .col-xs-10, .col-xs-11 {
  float: left
}
.col-xs-4 {
  width: 33.33333333%
}

.col-xs-8 {
  width: 66.66666667%
}

@media (min-width:770px) and (max-width:992px) {
  .container {
    max-width: 750px
  }

  .col-md-push-7 {
    left: 58.33333333%
  }

  .col-md-pull-3 {
    right: 25%
  }

  .col-md-offset-1 {
    margin-left: 8.33333337%
  }
}

@media (min-width:992px) {
  .container {
    max-width: 970px
  }

  .col-md-push-7 {
    left: 58.33333333%
  }

  .col-md-pull-3 {
    right: 25%
  }

  .col-md-offset-1 {
    margin-left: 8.33333337%
  }
}
/* +++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++ */
.container {
  -webkit-transition: all .5s ease-in-out;
  transition: all .5s ease-in-out
}

::selection {
  background: #e0ebe8;
  color: #545454;
  text-shadow: none
}

.transistion {
  -webkit-transition: all .5s ease-in-out;
  transition: all .5s ease-in-out
}

.image-text {
  background-position: 0 0;
  background-repeat: no-repeat;
  display: block;
  overflow-x: hidden;
  overflow-y: hidden;
  text-indent: -9999px
}

.image-text a {
  display: block;
  height: 100%;
  width: 100%
}

img{
  border-radius: 100%;
}

/* ==============================================================TOP SECTION========================================================================= */
.navbar-light{
  background-color: #66BFBF;
}

@media screen and (min-width: 990px) {
  #navigation {
    padding: 1%;
    position: fixed;
    top: 0;
    width: 100%;
    display: block;
    transition: top 0.3s;
  }

  #navigation a {
    float: left;
    display: block;
    color: #fff;
    text-align: center;
    padding: 15px;
    text-decoration: none;
    font-size: 17px;
  }
  #navigation a:hover{
    color: #000;
  }
  /* .topContainer{
    padding-top: 180px;
  } */
}


@media screen and (max-width:990px){
  #navigation a{
    color: #fff;
  }
  #navigation a:hover{
    color: #000;
  }
}


div.dropdown-menu{
  background-color: #66BFBF;
  border: 0;
}
a.dropdown-item{
  margin:auto;
  text-align: center;
}

a{
  color: #11999E;
  font-family: 'Montserrat', sans-serif;
  margin: 10px 20px;
  text-decoration: none;
}
a:hover{
  color: #EAF6F6;
  text-decoration: none;
}

/* ============================================================== Image Section ========================================================================= */

#top {
  overflow: hidden;
  background: #eaf6f6;
}

header {
  background: #e0ebe8;
  padding: 2em 0
}

#land {
  margin: 0 auto;
  max-width: 800px;
  overflow: hidden
}

#land img {
  width: 100%;
  border-radius: 0;
}

.topContainer {
  -webkit-animation: fadeIn .5s ease-in-out;
  -moz-transition: fadeIn .5s ease-in-out;
  -o-transition: fadeIn .5s ease-in-out;
  transition: fadeIn .5s ease-in-out
}

@media (min-width:990px){
  .topContainer #title{
    padding-top: 180px;
  }
}

@media (max-width:990px) {
  .topContainer #title{
    padding-top: 100px;
  }
}

/* ====================== My Name    ========================================================= */

h1.im-praneeth figure {

  /* max-width: 240px; add stmt if.... name as image*/
  margin: 0 auto;
  position: relative;
  z-index: 990
}

h1.im-praneeth div {
  text-align: center;
  width: 100%;
  color: #66BFBF;
  font-size: 160%;
  font-family: 'Sacramento', cursive;
  font-weight: bold;
  display: inline-block;
}

@media (min-width:992px) {
  h1.im-praneeth figure {
    max-width: 350px
  }
}

#head-slider .desc {
  text-align: center;
  color: #66BFBF;
  font-family: 'Montserrat', sans-serif;
  padding: 1em 0;
  font-size: 150%;
  font-weight: 700;
}
#head-slider .pro{
    text-decoration: underline;
}

/* =============================================================================== */

#title {
  padding: .5em 0 0;
  position: relative
}

#title .container {
  position: relative
}

#title .cloud {
  position: absolute;
  background: url(../images/cloud.svg) top left no-repeat;
  width: 150px;
  height: 45px;
  -webkit-transition: all 1s ease-in-out;
  transition: all 1s ease-in-out;
  z-index: 980
}

#title .left-cloud {
  left: -6em;
  bottom: 2em
}

@media (min-width:992px) {
  #title .left-cloud {
    left: 2em;
    bottom: 5em
  }
}

#title .right-cloud {
  right: -5em;
  top: 0
}

@media (min-width:992px) {
  #title .right-cloud {
    right: 2em;
    top: 6em
  }
}
#head-slider {
  padding: 1em 0
}

@media (min-width:992px) {
  #head-slider {
    padding: 4em 0
  }
}

/* =====================================================  HELLO  ====================================================================================== */


#hello {
  z-index: 980;
  position: relative;
  padding: 3em 0 0;
  margin: 0 0 3em
}

@media (min-width:992px) {
  #hello {
    padding: 6em 0 0;
    margin: 0 0 6em
  }
}

#hello article {
  margin: 0 auto;
  max-width: 460px
}

#hello article figure {
  margin: 0 auto;
  max-width: 150px
}

#hello article figure img {
  width: 100%
}

#hello article h3 {
  text-align: center;
  padding: .5em 0
}

#hello article p {
  text-align: center
}

h3{
  color: #66BFBF;
  font-size: 1.5em;
  font-weight: 600;
  font-family: 'Montserrat', sans-serif;
}


article header {
  background: 0 0
}

article header h2 {
  color: #11999E;
  font-family: 'Montserrat', sans-serif;
  text-align: center;
  font-size: 3em;
  font-weight: 500;
}
/* ================================== dotted line =============================================== */
hr{
  border: dotted #92A7A7 6px;
  border-bottom: none;
  width: 6%;
  margin: 80px auto;
}

/* ===================================================  SKILLS  ================================================================================================ */

#skills {
  /* z-index: 980; */
  position: relative;
  background: #fff;
  padding: 0
}

@media (min-width:992px) {
  #skills {
    padding: 3em 0
  }
}

#skills #design  {
  margin: 1em 0;
  text-align: center
}

@media (min-width:770px) {
  #skills #design {
    text-align: left;
    margin: 3em 0 6em
  }
}

#skills #programming {
  margin: 1em 0;
  text-align: center
}

@media (min-width:770px) {
  #skills #programming {
    text-align: left;
    margin: 3em 0
  }
}

#skills .prog {
  margin: 0 auto;
  background-image: url(../images/yet_to/line-bg.png);
  background-position: center center;
  background-repeat: repeat-x;
  position: relative;
  min-height: 155px
}

@media (-webkit-min-device-pixel-ratio:1.5), (min--moz-device-pixel-ratio:1.5), (-o-min-device-pixel-ratio:1.5), (min-resolution:1.5dppx) {
  #skills .prog {
    background-image: url(../images/yet_to/line-bg@2x.png);
    background-size: 3px auto
  }
}

#skills .prog img {
  float: right;
  width: 100%;
  max-width: 150px;
}

#skills .web_design {
  margin: 0 auto;
  background-image: url();
  background-position: center center;
  background-repeat: repeat-x;
  position: relative
}

@media (-webkit-min-device-pixel-ratio:1.5), (min--moz-device-pixel-ratio:1.5), (-o-min-device-pixel-ratio:1.5), (min-resolution:1.5dppx) {
  #skills .web_design {
    background-image: url();
    background-size: 3px auto
  }
}


#skills .web_design figure {
  max-width: 150px
}

#skills .web_design figure img {
  width: 100%
}

#skills h3 {
  padding: 0 0 1em;
  margin: 0
}

#skills .bubble {
  background: #F3F2F1;
  width: 77px;
  height: 77px;
  -webkit-border-radius: 60px;
  -moz-border-radius: 60px;
  border-radius: 60px;
  position: absolute;
  overflow: hidden;
  top: 2.6em
}

#skills .bubble .bubbling-design-icons-vert {
  -webkit-animation-name: bubblinger-vert-down;
  -moz-animation-name: bubblinger-vert-down;
  animation-name: bubblinger-vert-down;
  border-radius: 60px;
  -webkit-border-radius: 60px;
  -moz-border-radius: 60px;
  width: 77px;
  height: 77px;
  -webkit-animation-duration: 20s;
  -webkit-animation-iteration-count: infinite;
  -webkit-animation-timing-function: cubic-bezier(1, 0, 0, 1);
  -moz-animation-duration: 20s;
  -moz-animation-iteration-count: infinite;
  -moz-animation-timing-function: cubic-bezier(1, 0, 0, 1);
  animation-duration: 20s;
  animation-iteration-count: infinite;
  animation-timing-function: cubic-bezier(1, 0, 0, 1);
  background-image: url()
}

@media (-webkit-min-device-pixel-ratio:1.5), (min--moz-device-pixel-ratio:1.5), (-o-min-device-pixel-ratio:1.5), (min-resolution:1.5dppx) {
  #skills .bubble .bubbling-design-icons-vert {
    background-image: url();
    background-size: 77px 231px
  }
}

#skills .bubble .bubbling-dev-icons-vert {
  -webkit-animation-name: bubblinger-vert;
  -moz-animation-name: bubblinger-vert;
  animation-name: bubblinger-vert;
  border-radius: 60px;
  -webkit-border-radius: 60px;
  -moz-border-radius: 60px;
  width: 77px;
  height: 77px;
  -webkit-animation-duration: 20s;
  -webkit-animation-delay: 1s;
  -webkit-animation-iteration-count: infinite;
  -webkit-animation-timing-function: cubic-bezier(1, 0, 0, 1);
  -moz-animation-duration: 20s;
  -moz-animation-delay: 1s;
  -moz-animation-iteration-count: infinite;
  -moz-animation-timing-function: cubic-bezier(1, 0, 0, 1);
  animation-duration: 20s;
  animation-delay: 1s;
  animation-iteration-count: infinite;
  animation-timing-function: cubic-bezier(1, 0, 0, 1);
  background-image: url()
}

@media (-webkit-min-device-pixel-ratio:1.5), (min--moz-device-pixel-ratio:1.5), (-o-min-device-pixel-ratio:1.5), (min-resolution:1.5dppx) {
  #skills .bubble .bubbling-dev-icons-vert {
    background-image: url();
    background-size: 77px 231px
  }
}

#skills .right {
  right: 0
}

#skills .left {
  left: 0
}

#skills .dtl {
  padding: 2em 0
}

@media (min-width:992px) {
  #skills .dtl {
    padding: 0 0 0 2em
  }
}
/* ============================================================= hobbies ============================================= */
#hobbies {
  /* z-index: 980; */
  position: relative;
  background: #fff;
  padding: 0
}

@media (min-width:992px) {
  #hobbies {
    padding: 11em 0 3em
  }
}

#hobbies #hobbies-1, #hobbies #hobbies-3 {
  margin: 1em 0;
  text-align: center
}

@media (min-width:770px) {
  #hobbies #hobbies-1, #hobbies #hobbies-3 {
    text-align: left;
    margin: 3em 0 6em
  }
}

#hobbies #hobbies-2, #hobbies #hobbies-4 {
  margin: 1em 0;
  text-align: center
}

@media (min-width:770px) {
  #hobbies #hobbies-2, #hobbies #hobbies-4 {
    text-align: left;
    margin: 3em 0 6em
  }
}

#hobbies .image_right {
  margin: 0 auto;
  position: relative;
  min-height: 155px
}

#hobbies .image_right img {
  float: right;
  width: 100%;
  max-width: 180px;
  /* margin-right: -20px */
}

#hobbies .image_left {
  margin: 0 auto;
  position: relative;
  min-height: 155px;
}

#hobbies figure{
  margin: auto;
  max-width: 150px;
}

#hobbies .image_left figure {
  max-width: 150px
}

#hobbies .image_left figure img {
  width: 100%
}

#hobbies h3 {
  padding: 0 0 1em;
  margin: 0
}

#hobbies .dtl {
  padding: 2em 0
}

@media (min-width:770px) {
  #hobbies .dtl {
    padding: 0 0 0 2em
  }
}

/* +++++++++++++++++++++++++++++ About Me +++++++++++++++++++++++++++++++++++++++++++++++ */
#about-me {
  z-index: 980;
  position: relative;
  padding: 3em 0 0;
  margin: 0 0 3em
}

@media (min-width:992px) {
  #about-me {
    padding: 1em 0 0;
    margin: 0 0 6em
  }
}

#about-me article {
  margin: 0 auto;
  max-width: 460px
}
#about-me article figure {
  margin: 0 auto;
  max-width: 150px
}

#about-me article figure img {
  width: 100%;
}
#about-me article h3 {
  text-align: center;
  padding: .5em 0
}

#about-me article p {
  text-align: center
}

/* ++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++ */

#get-in-touch {
  text-align: center;
  padding: 0 0 4em
}

@media (min-width:992px) {
  #get-in-touch {
    padding: 3em 0 8em
  }
}

#get-in-touch article {
  max-width: 600px;
  margin: 0 auto
}

#get-in-touch h3 {
  padding-top: 1em
}

.btn-hldr {
  text-align: center
}

.btn-hldr.shot-btn {
  text-align: left
}

.btn-hldr .main-btn {
  font-size: .8em;
  text-align: center;
  display: block;
  position: relative;
  background: #73e6bb;
  padding: .75em 2em .75em 3.5em;
  color: #fff;
  text-decoration: none;
  margin: 1.5em 0 0;
  border-radius: 3px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 10px;
  font-weight: 400;
  border: 0;
  font-family: 'Merriweather', serif;
  text-transform: uppercase
}

@media (min-width:992px) {
  .btn-hldr .main-btn {
    display: inline-block
  }
}

.btn-hldr .main-btn i.email {
  position: absolute;
  height: 15px;
  width: 24px;
  left: 11%;
  top: 33%;
  background-image: url(../images/mail.png)
}

@media (-webkit-min-device-pixel-ratio:1.5), (min--moz-device-pixel-ratio:1.5), (-o-min-device-pixel-ratio:1.5), (min-resolution:1.5dppx) {
  .btn-hldr .main-btn i.email {
    background-image: url(../images/mail.png);
    background-size: 24px 15px;
  }
}
/* ============================================================================================================================================ */
#about-simon {
  z-index: 980;
  position: relative;
  padding: 3em 0 0;
  margin: 0 0 3em
}

@media (min-width:992px) {
  #about-simon {
    padding: 1em 0 0;
    margin: 0 0 6em
  }
}

#about-simon article {
  margin: 0 auto;
  max-width: 460px
}
#about-simon article figure {
  margin: 0 auto;
  max-width: 150px
}

#about-simon article figure img {
  width: 100%;
}
#about-simon article h3 {
  text-align: center;
  padding: .5em 0
}

#about-simon article p {
  text-align: center
}

/* ============================================ */
@media (min-width:990px){
   #simon{
    padding-top: 180px;
  }
}

@media (max-width:990px) {
   #simon{
    padding-top: 0;
  }
}

#outer-circle {
  background: #385a94;
  border-radius: 50%;
  height: 500px;
  width: 500px;
  position: relative;
  border-style: solid;
  border-width: 10px;
  margin: auto;
  margin-top: 60px;
  margin-bottom: 30px;
  box-shadow: 8px 8px 15px 5px #888888;
}
/* @media (max-width:990px) {
   #outer-circle{
    height: 200px;
    width: 200px;
  }
  #green, #blue, #red, #yellow{
    height: 100px;
    width: 100px;
  }
} */

.green {
  position: absolute;
  height: 250px;
  width: 250px;
  border-radius: 250px 0 0 0;
  -moz-border-radius: 250px 0 0 0;
  -webkit-border-radius: 250px 0 0 0;
  background: darkgreen;
  top: 50%;
  left: 50%;
  margin: -250px 0px 0px -250px;
  border-style: solid;
  border-width: 15px;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
}
.red {
  position: absolute;
  height: 250px;
  width: 250px;
  border-radius: 0 250px 0 0;
  -moz-border-radius: 0 250px 0 0;
  -webkit-border-radius: 0 250px 0 0;
  background: darkred;
  top: 50%;
  left: 50%;
  margin: -250px 0px 0px 0px;
  border-style: solid;
  border-width: 15px;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
}
.yellow {
  position: absolute;
  height: 250px;
  width: 250px;
  border-radius: 0 0 0 250px;
  -moz-border-radius: 0 0 0 250px;
  -webkit-border-radius: 0 0 0 250px;
  background: goldenrod;
  top: 50%;
  left: 50%;
  margin: 0px -250px 0px -250px;
  border-style: solid;
  border-width: 15px;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
}
.blue {
  position: absolute;
  height: 250px;
  width: 250px;
  border-radius: 0 0 250px 0;
  -moz-border-radius: 0 0 250px 0;
  -webkit-border-radius: 0 0 250px 0;
  background: darkblue;
  top: 50%;
  left: 50%;
  margin: 0px 0px -250px 0px;
  border-style: solid;
  border-width: 15px;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
}
#inner-circle {
  position: absolute;
  background: grey;
  border-radius: 50%;
  height: 250px;
  width: 250px;
  border-style: solid;
  border-width: 10px;
  top: 50%;
  left: 50%;
  margin: -125px 0px 0px -125px;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
}
#title_simon {
  font-family: 'Original Surfer', cursive;
  position: absolute;
  font-size: 40px;
  margin-left: 35px;
  margin-top: 40px;
}
#switches {
  position: absolute;
  font-family: 'Original Surfer', cursive;
  margin-left: 26px;
  margin-top: 110px;
}

.button_start {
  border-radius: 50% !important;
  margin-left: 55px;
  font-size: 1.5em;
  background-color: lightgray;
}

.text {
  position: absolute;
  font-family: 'Original Surfer', cursive;
  margin-left: 83px;
  margin-top: 197px;
}
#turn {
  position: absolute;
  background: #330000;
  color: red;
  font-family: courier;
  font-size: 20px;
  height: 30px;
  width: 50px;
  margin-left: 90px;
  margin-top: 170px;
  text-align: center;
  vertical-align: middle;
  line-height: 30px;
}
.pressed {
  box-shadow: 0 0 20px white;
  background-color: grey;
}
.game-over {
  background-color: red;
  opacity: 0.8;
}


/* ===================================Footer==================================================================================================== */
footer {
  text-align: center;
  background-color: #66BFBF;
  padding: 2.8em 0 2em;
}

footer p {
  color: #fff;
  font-size: 0.75em;
  font-weight: 400;
  margin: 0;
  padding: 1.5em 0 0

}

footer a{
  color:#11999E;
  text-decoration: none;
}

@media (min-width: 770px) {
  footer .container {
    max-width: 700px;
  }
}
@media (max-width: 768px) {
  .container {
    max-width: 750px;
  }
  .col-sm-6 {
    width: 50%;
}
